---
---

@import "{{ site.theme }}";  /* import base theme */

/* Example overrides */
:root {
  --bg-color: #f5f5f5 !important;
  --text-color: #222222 !important;
  --link-color: #0077cc !important;
}

