---
---

@import "{{ site.theme }}";  /* import base theme */

/* Example overrides */
:root {
  --bg-color: #ADD8E6 !important;
  --text-color: #222222 !important;
  --link-color: #0077cc !important;
}
body {
  background-color: #ADD8E6 !important;  /* light blue */
}
